<!DOCTYPE html>
<html>
<head>
	<title>course detail</title>
	
</head>
<body>
	<div class ="cont">
	<img src={{student.profile_picture.url}}>
	<p>{{course.name}}</p>
	<p>{{duration_in_month}}</p>
	<p>{{course_number}}</p>
	<p>{{description}}</p>
	<td><a href="/course/edit/{{course.pk}}/">Edit Details</a></td>
	<style type="text/css">

	body{
	background-color: purple;
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	}


	margin-left: 50px;
	margin-top: 20px;
	}
	.first{
	color: yellow;
	}
</style>








<style type="text/css">
	

</style>
</body>
</html>