<!DOCTYPE html>
<html>
<head>
	<title>Karibu</title>

</head>
<style type="text/css">
	
	body{
		background-color: pink;
		font-size: 40px;
	}
	h1{
		font-family: 'Dancing Script', cursive;
		color:#4f0807;
		margin-left: 40%;
	}
	h2{
		color: purple;
		text-align: center;
	}
	a{
	 width: 200px;
	 height: 100px;
	 border-radius: 5px;
	 background-color: grey;
	 color: white;

	}
</style>	
<body>
	<h1
	 >WELCOME HOME</h1>
	{% if user.is_authenticated%}
		Welcome{{user.username}}
		<a href="/accounts/logout/">logout</a>
	{%else%}
	<h2>
		Welcome guest
		please <a href="/accounts/register">register</a>
		or <a href="/accounts/login/">login</a>
	{%endif%}
	</h2>
	
	
</body>
