<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Karibu</title><style>
	body{
		background-color: pink;
	}
	.form{
		margin: 0 auto;
		border-width: 40px;
		border: 30px solid purple;
		padding: 30px;
		width: 600px;

	}
	</style> 
	
	</head>
<body>
	<h1>WELCOME HOME</h1>
	{% if user.is_authenticated%}
		Welcome{{user.username}}
		<a href="/accounts/logout/">logout</a>
	{%else%}
		Welcome guest
		please <a href="/accounts/register">register</a>
		or<a href="/accounts/login/">login</a>
	{%endif%}
</body>
</html>